@import "tailwindcss";

.logoImg {
  max-width: 150px;
  @media (width>=64rem) {
    max-width: 250px;
  }
}

.fw300 {
  font-weight: 300;
}

.sticky{
  position: fixed;
  bottom: 100%;
  transform: translateY(100%);
}

header{
  transform: translateY(0);
  transition: all 0.5s;
}

.stickyBG{
  background-color: white;
}