.banner {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  z-index: -1;
  background-attachment: fixed;
}

.banner80Height {
  @media (width >=64rem) {
    min-height: 80vh;
  }
}

.banner100Height {
  @media (width >=64rem) {
    min-height: 100vh;
  }
}

.headText {
  position: absolute;
  bottom: 120px;
  text-align: center;
}

.heading1 {
  font-size: 3rem;
}

.gradient {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #747bff8c 0, #ddd 100%);
}

.myPortfolioBg {
  background-image: url(/banners/my-portfolio-banner.png);
}

.aboutMeBg {
  background-image: url(/profile/vietanh-banner.png);
  background-color: #b3b3b3;
}

.minHeight80 {
  min-height: 80vh;
}

.minHeight100 {
  min-height: 100vh;
}

