.banner {
  min-height: 100vh;
}

.headText {
  position: absolute;
  bottom: 120px;
  text-align: center;
}

.heading1 {
  font-size: 3rem;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(250, 183, 129, 0) 0,
    #ddd 100%
  );
}

.myPortfolioBg {
  background-image: url(/banners/my-portfolio-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-attachment: fixed;
}
