.content h2,
h3 {
  font-weight: 500;
}

.content h2 {
  margin-top: calc(var(--spacing) * 12);
  font-size: var(--text-3xl);
}

.content p,
li {
  font-weight: 300;
}

.content p, ul {
  margin-top: calc(var(--spacing) * 6);
}

.content h3 {
  margin-top: calc(var(--spacing) * 12);
  font-size: var(--text-2xl);
}

.content ul{
  list-style: disc;
  padding-left: 1rem;
}