.content h2, .content h3 {
  font-weight: 500;
}

.content h2 {
  margin-bottom: calc(var(--spacing) * 6);
  font-size: var(--text-3xl);
}

.content p,
li {
  font-weight: 300;
}

.content p, .content ul {
  margin-bottom: calc(var(--spacing) * 6);
}

.content h3 {
  margin-bottom: calc(var(--spacing) * 6);
  font-size: var(--text-2xl);
}

.content ul{
  list-style: disc;
  padding-left: 1rem;
}