.background {
  background-image: url(/profile/vietanh-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #b3b3b3;
  min-height: 500px;
  @media (width >=64rem) {
    min-height: 100vh;
  }
  /* bg-[#b3b3b3] min-h-[500px] lg:min-h-screen  */
}
