.scrollingArrow {
  margin-top: 40px;
  animation: bouncing 0.7s infinite alternate;
}

.scrollingArrow:hover {
  cursor: pointer;
}

@keyframes bouncing {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(20px);
  }
}
