.banner {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner80Height {
  @media (width >=64rem) {
    min-height: 80vh;
  }
}

.banner100Height {
  @media (width >=64rem) {
    min-height: 100vh;
  }
}

.headText {
  position: absolute;
  text-align: center;
  bottom: 0;
  @media (width >64rem) {
    bottom: 120px;
  }
}

.heading1 {
  font-size: 3rem;
}

.gradient {
  top: 0;
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(250, 183, 129, 0) 0,
    #ddd 100%
  );
}

.gradientHeight80 {
  top: 0;
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.2) 0,
    rgba(34, 34, 34, 0.6) 100%
  );
}

.myPortfolioBg {
  background-image: url(/banners/my-portfolio-banner.png);
}

.aboutMeBg {
  background-image: url(/profile/vietanh-banner-sweater.png);
  background-color: #b3b3b3;
  background-position-x: center;
}

.minHeight80 {
  min-height: 80vh;
}

.minHeight100 {
  min-height: 100vh;
}

.fixedBannerImage {
  background-attachment: fixed;
}
